<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= t("Skel") %></title>
		<%= stylesheetTag("application.css") %>
		<meta name="csrf-param" content="authenticity_token" />
		<meta name="csrf-token" content="<%= authenticity_token %>" />
		<link rel="icon" href="<%= assetPath("images/hyeoncheon-icon.png") %>">
		<%= javascriptTag("application.js") %>
	</head>
	<body>

	<!-- ---- layout: title-bar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
		<a class="navbar-brand" href="/">
			<img src="<%= assetPath("images/hyeoncheon-icon.png") %>"
				class="d-inline-block" alt="">
			<%= t("Skel") %></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button><%= if (user_id) { %>
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav mr-auto flex-grow-1">
				<a class="nav-item nav-link" href="/"><%= t("Dashboard") %></a>
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarView"
						role="button" data-bs-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><%= t("View") %></a>
					<div class="dropdown-menu dropdown-menu-dark"
						aria-labelledby="navbarView">
						<a class="dropdown-item" href="/items"><%= t("Items") %></a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#"><%= t("Teams") %></a>
					</div>
				</div>
				<a class="nav-item nav-link" href="/docs"><%= t("Docs") %></a><%=
					if (current_user.IsAdmin()) { %>
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarAdmin"
						role="button" data-bs-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><%= t("Admin") %></a>
					<div class="dropdown-menu dropdown-menu-dark"
						aria-labelledby="navbarAdmin">
						<a class="dropdown-item" href="/users"><%= t("Users") %></a>
						<a class="dropdown-item" href="/teams"><%= t("Teams") %></a>
					</div>
				</div><% } %>
			</div>
			<div class="navbar-nav mr-auto" id="member-menu">
				<span class="nav-item hc-badge"><%=
					iconize(current_user.Roles[0]) %></span>
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarUser"
						role="button" data-bs-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						<img src="<%= user_icon %>" class="hc-img-profile img-circle">
					</a>
					<div class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
						aria-labelledby="navbarUser">
						<span class="dropdown-item-text"><%= user_name %></span>
						<span class="dropdown-item-text">ID: <%= trunc(user_id) %></span>
						<a class="dropdown-item" href="/profile"><%= t("Profile") %></a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="<%= uart_url %>"><%= t("UART") %></a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/logout"><%= t("Logout") %></a>
					</div>
				</div>
			</div>
		</div><% } %>
	</nav>

	<!-- ---- layout: side-bar and content -->
	<div class="lay-outter-container">
		<div class="lay-inner-container">
			<div class="content">
<%= partial("flash.html") %>
<%= yield %>
			</div>
		</div>
	</div>

	<div class="lay-footer"> <!-- ---- layout: layout footer -->
		<div class="col-12 text-end">
			<%= t("Skel") %>, the
			<a href="https://github.com/hyeoncheon/" class="seamless">Hyeoncheon Project</a>
			Member<br>
			<a href="https://golang.org/" class="seamless">Golang</a>,
			<a href="https://gobuffalo.io/" class="seamless">Buffalo</a>,
			and many FOSSes under the hood<br>
		</div>
	</div>
	</body>
</html>
