				<div id="login-dialog"
					class="col-md-6 offset-md-3 col-xs-8 offset-xs-2">
					<h2>Are you an Hyeoncheon member?</h2>
					<p>
					This service uses UART Single-Sign-On by Hyeoncheon.<br>
					Please login via UART.
					</p>
					<a href="/auth/uart" id="login-button"
						class="col-6 offset-3 btn btn-success">Login via UART</a>
				</div>

<style>
#body-wrapper .content {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#login-dialog {
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	padding: 30px;
}

#login-dialog h2 {
	margin-top: 0;
}

#login-dialog #login-button {
	text-align: center;
	margin-top: 10px;
}
</style>
