<div class="page-header col-12">
	<h1><%= t("Users") %></h1>
	<div class="pull-right">
		<span data-bs-toggle="popover"
			data-bs-trigger="hover" data-bs-placement="left"
			data-bs-content="<%=t("users.header.popup.skel") %>">
			<i class="fa fa-question-circle"></i>
		</span>
	</div>
	<div class="description"><%= t("users.header.description.skel",
		len(users)) %></div>
</div>

<div class="page-content col-12">

	<table class="table table-striped">
		<thead>
			<th><%= t("Email") %></th>
			<th><%= t("Name") %></th>
			<th><%= t("Roles") %></th>
			<th><%= t("last.seen") %></th>
			<th><%= t("first.met") %></th>
			<th>&nbsp;</th>
		</thead>
		<tbody><%= for (user) in users { %>
			<tr class="linked" target="<%= userPath({ user_id: user.ID }) %>">
				<td><%= user %></td>
				<td><%= user.Name %></td>
				<td><%= user.Roles %></td>
				<td class="moment"><%= user.UpdatedAt %></td>
				<td class="moment"><%= user.CreatedAt %></td>
				<td class="nolink">
					<div class="pull-right btn-group btn-group-sm">
						<a class="btn btn-danger" href="<%=
							userPath({ user_id: user.ID }) %>" data-method="DELETE"
							data-confirm="<%= t("Are you sure?") %>"><%= t("Delete") %></a>
					</div>
				</td>
			</tr><% } %>
		</tbody>
	</table>
	<div class="text-center">
		<%= paginator(pagination) %>
	</div>

</div>

<div class="page-footer col-12">
</div>
