<div class="page-header col-12">
	<h1><%= user %></h1>
	<div class="pull-right">
		<span data-toggle="popover" data-trigger="hover" data-placement="left"
			data-content="<%=t("user.header.popup.skel") %>">
			<i class="fa fa-question-circle"></i>
		</span>
	</div>
	<div class="description"><%= t("user.header.description.skel",
		{posts_count: 0, activities_count: 0}) %></div>
</div>

<div class="page-content col-12">

	<table class="table table-striped">
		<thead>
			<th><%= t("Email") %></th>
			<th><%= t("Name") %></th>
			<th><%= t("Roles") %></th>
			<th><%= t("last.seen") %></th>
			<th><%= t("first.met") %></th>
			<th>&nbsp;</th>
		</thead>
		<tbody><%= for (user) in [user] { %>
			<tr>
				<td><%= user %></td>
				<td><%= user.Name %></td>
				<td><%= user.Roles %></td>
				<td><%= user.UpdatedAt %></td>
				<td><%= user.CreatedAt %></td>
				<td>
					<div class="pull-right btn-group btn-group-sm">
						<a class="btn btn-secondary" href="<%=
							usersPath() %>"><%= t("Back") %></a>
						<a class="btn btn-danger" href="<%=
							userPath({ user_id: user.ID }) %>" data-method="DELETE"
							data-confirm="<%= t("Are you sure?") %>"><%= t("Delete") %></a>
					</div>
				</td>
			</tr><% } %>
		</tbody>
	</table>

</div>

<div class="page-footer col-12">
</div>
